<center>
  <div class="form-group">
    <%= form_with(model: [ @game, @game.guesses.build ] , local: true ) do |form| %>
      <%= form.label :letter, "Letter", class: "label-letter #{'hide' if !@game.in_progress? }" %>
      <%= form.text_field :letter ,class: "form-control #{ 'hide' if !@game.in_progress? }" %>
      <%= form.submit "Guess!", class: "submit-btn btn btn-primary btn-lg #{'hide' if !@game.in_progress? }" %>
  </div>
  <div class="clue">
    <%= show_clue(@game.clue) if @game.in_progress? %>
    <p>Secret Word :</p>
      <%= show_clue(@game.word.chars) if !@game.in_progress? %>
  </div><br><br>
  <div class="game-state" >
    <%= game_progress(@game) %>
  </div>
</center>

  <% if flash[:success] %>
    <div class ="alert alert-success"> <%= flash[:success] %> </div>
  <% elsif flash[:notice] %>
    <div class ="alert alert-danger"> <%= flash[:notice] %> </div>
  <% end %>
<% end %>