<%= form_with(model: [ @game, @game.guesses.build ] , local: true ) do |form| %>
  <p>
    <%= form.label :letter, "Letter" %>
    <%= form.text_field :letter , disabled: !@game.game_in_progress? %>
  </p>
  <p>
    <%= form.submit "Submit", disabled: !@game.game_in_progress? %>
  </p>

  <div><%= show_clue(@game.clue) %></div>

  <div> <%= game_progress(@game) %></div>

  <% if flash[:success] %>
    <% if @game.guess_correct? %>
      <div class= "alert-success"><h3>Guess is correct</h3></div>
    <% else %>
      <div class= "alert-danger"><h3>Guess is incorrect</h3></div>  
    <% end %>  
  <% else %>
    <div class ="alert-danger"> <%= flash[:notice] %> </div>
  <% end %>
<% end %>