<%= form_with(model: [ @game, @game.guesses.build ] , local: true ) do |form| %>
  <p>
    <%= form.label :letter, "Letter" %>
    <%= form.text_field :letter , disabled: !@game.game_in_progress? %>
  </p>
  <p>
    <%= form.submit "Submit", disabled: !@game.game_in_progress? %>
  </p>

  <div><%= show_clue(@game.clue) %></div>

  <div> <%= game_progress(@game) %></div>

  <% if flash[:success] %>
    <div class ="alert-success"> <%= flash[:success] %> </div>
  <% else %>
    <div class ="alert-danger"> <%= flash[:notice] %> </div>
  <% end %>
<% end %>