<%= form_with model: @game, local: true , html: {class: "form-group"} do |form| %>
  <% if @game.errors.any? %>
    <div id ="error_explanation">
      <h2><%= pluralize(@game.errors.count, 'error') %>
      prohibited game from being started 
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg|  %>
          <li><%= msg %></li>
          <% end %> 
      </ul>
    </div>
    <% end %>

<%= form.label :name, "Player" %>
<%= form.text_field :name %> <br><br>
<%= form.submit  "Create Game"%>
<% end %>