<center>
  <h1>Listing all the games</h1>
</center>
<% if flash[:notice] %>
  <div class=" alert alert-danger">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to 'New Game', new_game_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Created at</th>
    <th colspan = "2">Actions</th>
  </tr>

  <tr>
    <% @games.each do |game| %>
      <td><%= game.name %></td>
      <td><%= game.created_at %></td>
      <td><%= link_to 'Show', game_path(game)%></td>
      <td><%= link_to 'Destroy', game_path(game),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
