<center>
<div class="form-group">
  <h1 id="name">Welcome <%= @game.name %></h1>

<h2>The letters you guessed are</h2>
<%= render @game.guesses %>


<%= render 'guesses/form' %>

  <p class="back-link">
<%= link_to 'Back', games_path %>

  <%= render 'guesses/form' %>

  <p class="back-link">
    <%= link_to 'Back', games_path %>
  </p>
</div>